<!DOCTYPE html>


<title>Contact</title>

{% extends "base.html" %}
  {% block body_block %}
    {% load static %}


<!DOCTYPE html>

<link rel="stylesheet" href="{% static "css/contact.css" %}">

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="form-top">
      <h1>Contact Me</h1>
    </div>

    <form>
  <div class="form-group" id = 'form_top'>
    <label>Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </body>
</html>







  {% endblock %}
